/*----------------*/
/* HEADER SECTION */
/*----------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo-img {
  height: 2.2rem;
}

.nav-links {
  display: flex;
  gap: 3.2rem;
  list-style-type: none;
  align-items: center;
  /* color: #555; */
}

.nav-btn:link,
.nav-btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.4s;
}

.nav-btn.nav-cta:link,
.nav-btn.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  color: #fff;
  background-color: #e67e22;
  border-radius: 9px;
}

.nav-btn:hover,
.nav-btn:active {
  color: #e67e22;
}

.nav-btn.nav-cta:hover,
.nav-btn.nav-cta:active {
  background-color: #cf711f;
}

/*----------------*/
/* HERO SECTION   */
/*----------------*/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
  /* margin-bottom: 3.6rem; */
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  /* justify-items: center; */
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary {
  /* 44 / 52 / 62 */
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 2.4rem;
  font-weight: 600;
  color: #333;
}

.hero-img {
  width: 100%;
}

.learn-more:link,
.learn-more:visited {
  background-color: #fff;
  color: #555;
}

.delivered-box {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2.4rem;
  margin-top: 8rem;
}

.delivered-cust-img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
  margin-left: -1.6rem;
}

.users {
  font-size: 1.6rem;
}

.users strong {
  color: #e67e22;
  font-weight: 700;
}

/*------------------*/
/* FEATURED SECTION */
/*------------------*/
.featured-in {
  padding: 3.2rem 0 12rem 0;
}

.featured-in-logos {
  display: flex;
  justify-content: space-around;
}

.semi-tertiary-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #767676;
  margin-bottom: 2.4rem;
}

.featured-in-logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*------------------*/
/* HOW-IT-W SECTION */
/*------------------*/

.num {
  font-size: 8.6rem;
  font-weight: 700;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.tertiary-header {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}

.how-to-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.how-to-img::before,
.how-to-img::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  /* height: 50%; */
}

.how-to-img::before {
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
}

.how-to-img::after {
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
  z-index: -1;
}

.how-to-img img {
  width: 35%;
}

.how-text {
  line-height: 1.8;
  font-size: 1.8rem;
}

/*------------------*/
/*  MEAL SECTION    */
/*------------------*/
.meals {
  padding: 9.6rem 0;
}

.meal-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  /* 12 / 16 / 24 / 32 / 48 / 64 / */
  padding: 2.4rem 4.8rem 4.8rem 4.8rem;
}

.meal-img {
  width: 100%;
  /* margin-bottom: 2.4rem; */
}

.meal-tags {
  display: flex;
  gap: 0.2rem;
  margin-bottom: 0.8rem;
}

.tag {
  background-color: aqua;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  border-radius: 1000px;
  font-weight: 600;
}

.tag--vegeterian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paled {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.meal-attributes {
  list-style: none;
  /* 14 / 16 / 18 / 20 / 24 */
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.meal-attribute {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1.4rem;
}

.meal-attributes ion-icon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
}

.diet-header {
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 3.2rem;
}

.diet-lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.diet-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  color: #333;
}

.diet-item ion-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

.see-link:link,
.see-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.see-link:hover,
.see-link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/*---------------------*/
/* TESTIMONIAL SECTION */
/*---------------------*/
.section-testimonial {
  background-color: #fdf2e9;
}

.container-div {
  grid-template-columns: 55fr 44fr !important;
  align-items: center;
  padding: 9.6rem;
  padding-right: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  /* gap: 1.6rem; */
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial blockquote {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.author {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/*---------------------*/
/* PRICE PLANS SECTION */
/*---------------------*/

.price-plans-container {
  padding: 9.6rem 0;
}

.price-plans {
  background-color: #fff;
}

.price-plan {
  /* border: 2px solid black; */
  width: 75%;
  padding: 4.8rem;
  border-radius: 11px;
}

.plan--starter {
  justify-self: end;
  border: 2px solid #fae5d3;
}

.plan--complete {
  background-color: #fae5d3;
  position: relative;
  overflow: hidden;
}

.plan--complete::after {
  content: "Best Value";
  position: absolute;
  top: 10%;
  right: -15%;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  font-size: 1.6rem;
  font-weight: 700;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
}

.plan-name {
  /* 20 / 24 / 30 / 36 */
  font-size: 2rem;
  font-weight: 600;
  color: #e67e22;
  text-transform: uppercase;
  /* / 12 / 16 / 24 / 32 */
  margin-bottom: 2.4rem;
}

.plan-price {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.plan-per-month {
  font-size: 1.6em;
  color: #6f6f6f;
  margin-bottom: 5.2rem;
}

.attrs {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  gap: 1.6rem;
  margin-bottom: 5.2rem;
}

.attr {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.attr ion-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.plan-btn-box {
  text-align: center;
  font-size: 2rem;
}

.plan-btn {
  display: inline-block;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
}

.plan-details {
  font-size: 1.8rem;
  text-align: center;
}

/* ****************** */
/* FEATURE SECTION */
/* ****************** */

.feature-logo {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fae5d3;
  padding: 1.2rem;
  border-radius: 50%;
  color: #e67e22;
  margin-bottom: 3.2rem;
}

.feature-header {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-txt {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #767676;
}

/* ****************** */
/* CTA SECTION */
/* ****************** */

.cta-container {
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  padding-right: 0 !important;
  border-radius: 11px;
  overflow: hidden;
}

.form-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta-header-box .intro-txt {
  margin-bottom: 2.4rem;
}

.sub-intro-txt {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.sign-up {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  font-size: 2rem;
  border-radius: 9px;
  border: none;
}

/* ****************** */
/* FOOTER SECTION */
/* ****************** */

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-logo img {
  height: 2.2rem;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
